/* Base styles */
html,
body {
  height: 100%;
  font-family: var(--sd-global-font-families-open-sans);
  font-size: 14px;
}

body {
  background-color: var(--sd-global-greyscale-100);
}

/* Button style */
.btn-primary {
    background-color: var(--sd-global-primary-500);
    border-color: var(--sd-global-primary-500);
}

.btn-primary:hover {
    background-color: var(--sd-global-primary-200);
    border-color: var(--sd-global-primary-200);
}

.px-4 {
    padding-left: var(--sd-global-primary-btn-sides) !important;
    padding-right: var(--sd-global-primary-btn-sides) !important;
    padding-top: var(--sd-global-spacing-base);
    padding-bottom: var(--sd-global-spacing-base);
}

.btn {
    border-radius: var(--sd-global-default-radius);
}

.btn-outline-primary {
    color: var(--sd-global-primary-500);
    border-color: var(--sd-global-primary-500);
}