/* Base styles */
html,
body {
  height: 100%;
  font-family: var(--sd-global-font-families-open-sans);
  font-size: 14px;
}

body {
  background-color: var(--sd-global-greyscale-100);
}

/* Button style */
.btn-primary {
    background-color: var(--sd-global-primary-500);
    border-color: var(--sd-global-primary-500);
}

.btn {
    border-radius: var(--sd-global-radius-default);
}